.link-disabled {
    pointer-events: none;
}

header {
	width: 100%;
	background: #fff;
	padding: 10px 40px;
	display: flex;
	align-items: flex-end;
  }

.logo {
	width: 20%;
	height: auto;
	display: flex;
	flex:auto;
	justify-content: center;
  }

.menu{
	width: 80%;
	height: auto;
    display: flex;
    justify-content: center;
	margin-left: 10px;
	flex:auto;
  }


ul {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 50px;
}


nav{
	background: #fff;
	border-radius: 50px;
	padding: 10;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

nav ul li{
	list-style: none;
	display: inline-block;
	padding: 13px 35px;
	margin: 10px;
	font-size: 18px;
	font-weight: 500;
	color: #777;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 0.5s;
  }

nav ul li::after{
	content:'';
	background: #fff;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	position:absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity: 0;
  }


nav ul li:hover::after{
	top: 50%;
	opacity: 1;
  }


.menu nav ul li a {
	text-decoration: none;
	color: #777;
  }


.container {
	width: 100%;
	height: 100vh;
    display: flex;
	z-index: -3;
  }

h1{
	font-family:Impact;
	font-size: 100px;
	font-weight: 700;
	color: #0d0d0d;
	margin-bottom: 20px;
    justify-content: left;
  }

h2 {
	font-family:Impact;
	font-size: 30px;
	font-weight: 700;
	color: #0d0d0d;
	margin-bottom: 20px;
	justify-content: left;
  }

p {
    font-family:'Segoe UI', sans-serif;
    font-size: 20px;
    color: #000000;
	justify-content: left;
  }

img{
	width: 500px;
	height: auto;
	text-align: right;
  }

.floating-container {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 0;
	right: 0;
  }

  .floating-container:hover {
	position:fixed;
	height: 390px;
	width: 70px;
  }

  .floating-container:hover .floating-button {
	box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  }

  .floating-button {
	position: fixed;
	width: 50px;
	height: 50px;
	background: #2cb3f0;
	border-radius: 50%;
	right: 20px; /* Adjust the right offset as needed */
	top: 50%; /* Position the button at the vertical center of the page */
	transform: translateY(-50%);
	color: white;
	line-height: 50px;
	text-align: center;
	font-size: 23px;
	z-index: 100;
	box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  }

  .floating-button.slide-left {
    right: 0;
  }

  .float-element {
	position: relative;
	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 15px 0;
	color: white;
	display: grid;
	place-items: center;
	z-index: 0;
	opacity: 0;
	cursor: pointer;
  }

  .float-element:nth-child(1) {
	background:#42a5f5;
	box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
  }

  .float-element:nth-child(2) {
	background:#4caf50;
	box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
  }

  .float-element:nth-child(3) {
	background: #ff9800;;
	box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
  }

  @-webkit-keyframes come-in {
	0% {
	  opacity: 0;
	}
	30% {
		transform: translateX(-50px);
	}
	70% {
		transform: translateX(0px) scale(1.2);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
  }

  .floating-container:hover .element-container .float-element:nth-child(1) {
	animation: come-in 0.4s forwards 0.2s;
  }

  .floating-container:hover .element-container .float-element:nth-child(2) {
	animation: come-in 0.4s forwards 0.4s;
  }

  .floating-container:hover .element-container .float-element:nth-child(3) {
	animation: come-in 0.4s forwards 0.6s;
  }
  
  .fab-content {
	display: none;
	position: fixed;
	bottom: 80px;
	right: 20px;
	width: 200px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	border-radius: 8px;
  }

/* feedback form */

  .comment-form {
		max-width: 100%;
		margin: auto;
		padding: 20px;
		background-color: #f7f2b4;
		border: 1px solid #f7f2b4;
		border-radius: 5px;
	  }
	  
  textarea {
		width: 100%;
		margin-bottom: 10px;
	  }
	  
  input[type="button"] {
		background-color: #4caf50;
		color: white;
		padding: 10px 15px;
		border: none;
		border-radius: 3px;
		cursor: pointer;
	  }
	  
  input[type="button"]:hover {
		background-color: #45a049;
	  }
	
/* The switch - the box around the slider */
  .switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}
	
/* Hide default HTML checkbox */
  .switch input {
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

/* The slider */
.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
	
input:checked + .slider {
	  background-color: #2196F3;
	}
	
input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}
	
input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}
	
/* Rounded sliders */
.slider.round {
	  border-radius: 34px;
	}
	
.slider.round:before {
	  border-radius: 50%;
	}
	
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 53px;
		height: 28px;
	  }
	  
	  /* Hide default HTML checkbox */
	  .switch input {
		opacity: 0;
		width: 0;
		height: 0;
	  }
	  
	  /* The slider */
	  .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	  }
	  
	  .slider:before {
		position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		left: px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	  }
	  
	  input:checked + .slider {
		background-color: #2196F3;
	  }
	  
	  input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	  }
	  
	  input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	  }
	  
	  /* Rounded sliders */
	  .slider.round {
		border-radius: 34px;
	  }
	  
	  .slider.round:before {
		border-radius: 50%;
	  }
	
	  #modeText {
		margin: 10px; /* Adjust the margin as needed */
	  }
	  
	  .toggle-switch {
		display: flex;
		align-items: center;
		margin-top: 20px;
	  }
	
	  .content {
		margin-top: 20px;
	  }

	  #floating-window {
		position: fixed;
		display: none;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		z-index: 1000;
	  }
	
	  .modal {
		position: fixed;
		top: 0;
		right: -100%; /* Start off-screen */
		bottom: 0;
		width: 80%; /* Adjust the width as needed */
		background: #fff;
		box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
		z-index: 1001;
		transition: right 0.3s ease-in-out;
		overflow-y: auto; /* Enable vertical scrolling if content exceeds modal height */
	  }
	
	  .modal-content {
		padding: 20px;
		border-radius: 5px;
	  }
	
	  .modal-content label {
		display: block;
		margin-bottom: 10px;
	  }
	
	  .modal-content textarea {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
	  }
	
	  .modal-content button {
		background-color: #007bff;
		color: #fff;
		border: none;
		padding: 10px;
		cursor: pointer;
	  }
	
	  .modal-content button:hover {
		background-color: #0056b3;
	  }
	
	  /* Show the modal when it's open */
	  .modal.open {
		right: 0;
	  }