.container{
	width: 100%;
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.section {
	margin-top: 20px;
	height: 300px;
	border: 1px solid #ddd;
  }

.menu{
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
nav{
	background: #fff;
	border-radius: 50px;
	padding: 10;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

nav ul li{
	list-style: none;
	display: inline-block;
	padding: 13px 35px;
	margin: 10px;
	font-size: 18px;
	font-weight: 500;
	color: #777;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 0.5s;
  }

nav ul li::after{
	content:'';
	background: #f44566;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	position:absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity: 0;
  }

nav ul li:hover{
	color: #fff;
  }

nav ul li:hover::after{
	top: 50%;
	opacity: 1;
  }

.menu nav ul li a {
	text-decoration: none;
	color: #777;
  }

.box{
    position:relative;
    width:280px;
    height:96px;
    background-color:#fffbb6;
    border:1px solid #ff6a00;
}

.box .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
